<div class="panel">
    <h1>Welcome to CSE Motors</h1>
    <img class="hero-image" src="/images/vehicles/delorean.jpg" alt="Delorean">
    <div class="overlap">
        <ul class="delorean-specs">
            <li><h2>DMC Delorean</h2></li>
            <li><h3>3 Cup holders</h3></li>
            <li><h3>Superman Doors</h3></li>
            <li><h3>Fuzzy dice!</h3></li>
            <li>
                <img class="own" src="/images/site/own_today.png" alt="Own Today! button">
            </li>
        </ul>
    </div>
    <div class="headings">
        <h2>Delorean Upgrades</h2>
        <h2>DMC Delorean Reviews</h2>
    </div>
    <div class="upgrades-and-reviews">
        <ul class="upgrades">
            <li class="upgrade-item">
                <img class="upgrade-picture" src="/images/upgrades/flux-cap.png" alt="Product image of flux capacitor">
                <p class="item-text">Flux Capacitor</p>
            </li>
            <li class="upgrade-item">
                <img class="upgrade-picture" src="/images/upgrades/flame.jpg" alt="Product image of flame decals">
                <p class="item-text">Flame Decals</p>
            </li>
            <li class="upgrade-item">
                <img class="upgrade-picture" src="/images/upgrades/bumper_sticker.jpg" alt="Product image of bumper stickers">
                <p class="item-text">Bumper Stickers</p>
            </li>
            <li class="upgrade-item">
                <img class="upgrade-picture" src="/images/upgrades/hub-cap.jpg" alt="Product image of hub caps">
                <p class="item-text">Hub Caps</p>
            </li>
        </ul>
        <ul class="reviews">
            <li>
                <p>"So fast it's like traveling in time." (4/5)</p>
            </li>
            <li>
                <p>"Coolest ride on the road." (4/5)</p>
            </li>
            <li>
                <p>"I'm feeling Marty McFly!" (5/5)</p>
            </li>
            <li>
                <p>"The most futuristic ride of our day." (4.5/5)</p>
            </li>
            <li>
                <p>"80's livin and I love it!" (5/5)</p>
            </li>
        </ul>
    </div>
</div>