<h1>Welcome to CSE Motors</h1>
<img
    src="/images/vehicles/delorean.jpg"
    alt="Image of a Delorean DMC-12"
/>
<div class="overlap">
    <ul class="delorean-specs">
        <li><h2>DMC Delorean</h2></li>
        <li><h4>3 Cup holders</h4></li>
        <li><h4>Superman Doors</h4></li>
        <li><h4>Fuzzy dice!</h4></li>
        <li>
            <img class="own"
                src="/images/site/own_today.png"
                alt="Own Today! button"
            />
        </li>
    </ul>
</div>
<div class="headings">
    <h2>Delorean Upgrades</h2>
    <h2>DMC Delorean Reviews</h2>
</div>
<div class="upgrades-and-reviews">
    <ul class="upgrades">
        <li class="upgrade-item">
            <img
                src="/images/upgrades/flux-cap.png"
                alt="Image of flux capacitor"
            />
            <p>Flux Capacitor</p>
        </li>
        <li class="upgrade-item">
            <img class="image"
                src="/images/upgrades/flame.jpg"
                alt="Image of flame decals"
            />
            <p>Flame Decals</p>
        </li>
        <li class="upgrade-item">
            <img
                src="/images/upgrades/bumper_sticker.jpg"
                alt="Image of bumper sticker"
            />
            <p>Bumper Stickers</p>
        </li>
        <li class="upgrade-item">
            <img
                src="/images/upgrades/hub-cap.jpg"
                alt="Image of hub cap"
            />
            <p>Hub Caps</p>
        </li>
    </ul>
    <ul class="reviews">
        <li>
            <p>"So fast it's like traveling in time." (4/5)</p>
        </li>
        <li>
            <p>"Coolest ride on the road." (4/5)</p>
        </li>
        <li>
            <p>"I'm feeling Marty McFly!" (5/5)</p>
        </li>
        <li>
            <p>"The most futuristic ride of our day." (4.5/5)</p>
        </li>
        <li>
            <p>"80's livin and I love it!" (5/5)</p>
        </li>
    </ul>
</div>