/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: black;
  list-style: none;
  color: white;
  padding-left: 1em;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.inv-display {
  list-style: none;
}

.inv-display li {
  width: 250px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  border: solid crimson 2px;
  border-radius: 20px;
  margin: 0.5em;
  align-items: center;
}

span {
  font-weight: normal;
}

.vehicle-details-display {
  list-style: none;
  padding-left: 0;
}

.top-header {
  display: grid;
  grid-template-columns: 2fr auto;
}

.overlap {
  position: relative;
  width: 9em;
  background-color: rgba(240, 255, 255, 0.799);
  z-index: 2;
  margin-top: -11em;
  
}

.hero-image{
  z-index: 1;
  width: 75%;
  height: 75%;
}

.own {
  margin-top: 1em;;
  width: 9em;
  height: 2.5em;
  opacity: 1;
}

.delorean-specs {
  list-style: none;
  font-size: small;
  padding-left: 0.5em;
}

.upgrades-and-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
}

.upgrade-picture {
  padding-right: 2.5em;
  padding-left: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: crimson;
  border: 2px solid black;
} 

.upgrades {

  list-style: none;
  padding-left: 0;
}

.reviews {
  padding-left: 1em;
}

h1 {
  margin-bottom: 1.5em;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    list-style: none;
    color: white;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
  }

  .top-header {
    display: grid;
    grid-template-columns: 2fr auto;
  }

  .vehicleDetails {
    display: grid;
  }

  span {
    font-weight: normal;
  }

  .vehicle-details-display {
    list-style: none;
    padding-left: 0;
  }

  .vehicle-details-display li {
    padding-bottom: 0.5em;
  }

  .inv-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding-left: 0;
  }

  .inv-display li {
    width: 250px;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    border: solid crimson 2px;
    border-radius: 20px;
    margin: 0.5em;
    align-items: center;
  }
  
  .content {
    margin: 5%;
    background-image: url('/images/site/checkerboard.jpg');
  }

  .wrapper {
    background-color: white;
    padding: 0.5em;
    border: solid crimson 2px;
    border-radius: 20px;
  }

  .panel {
    background-color: white;
  }
  .delorean-specs {
    list-style: none;
    font-size: large;
    padding-left: 0.5em;
  }

  .hero-image{
    z-index: 1;
    width: 27em;
    height: 15em;
  }
  .overlap {
    position: relative;
    width: 12.5em;
    background-color: rgba(240, 255, 255, 0.799);
    z-index: 2;
    margin-top: -12em;
  }

  .own {
    margin-top: 1em;;
    width: 9em;
    height: 2.5em;
    opacity: 1;
  }

  .login-panel, .register-panel, .new-classification-panel, .new-vehicle-panel, .delete-vehicle-panel, .delete-account-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid crimson 2px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  .headings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
  }

  .item-text {
    padding-left: 1em;
  }

  .upgrades-and-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    padding-left: 0;
  }

  .reviews {
    padding-left: 1em;
  }

  .upgrade-item {
    
    align-self: center;
  }

  .upgrade-picture {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: crimson;
    border: 2px solid black;
  }
}


@media screen and (min-width: 920px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    list-style: none;
    color: white;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
  }

  .top-header {
    display: grid;
    grid-template-columns: 2fr auto;
  }

  .vehicleDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  span {
    font-weight: normal;
  }

  .vehicle-details-display {
    list-style: none;
    padding-left: 1em;
  }

  .vehicle-details-display li {
    padding-bottom: 0.5em;
  }

  .inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding-left: 0;
  }

  .inv-display li {
    width: 250px;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    border: solid crimson 2px;
    border-radius: 20px;
    margin: 0.5em;
    align-items: center;
  }
  
  .content {
    margin: 5%;
    background-image: url('/images/site/checkerboard.jpg');
  }

  .wrapper {
    background-color: white;
    padding: 0.5em;
    border: solid crimson 2px;
    border-radius: 20px;
  }

  .panel {
    background-color: white;
  }
  .delorean-specs {
    list-style: none;
    font-size: large;
    padding-left: 0.5em;
  }

  .hero-image{
    z-index: 1;
    width: 27em;
    height: 15em;
  }
  .overlap {
    position: relative;
    width: 12.5em;
    background-color: rgba(240, 255, 255, 0.799);
    z-index: 2;
    margin-top: -12em;
  }

  .own {
    margin-top: 1em;;
    width: 9em;
    height: 2.5em;
    opacity: 1;
  }

  .login-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: solid crimson 2px;
  }

  .register-panel, .new-classification-panel, .new-vehicle-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid crimson 2px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  .headings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
  }

  .item-text {
    padding-left: 1em;
  }

  .upgrades-and-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    padding-left: 0;
  }

  .reviews {
    padding-left: 1em;
  }

  .upgrade-item {
    
    align-self: center;
  }

  .upgrade-picture {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: crimson;
    border: 2px solid black;
  }
}